@import '../../style/colors.scss';
@import '../../style/type.scss';

:local(.secondaryLink){
  color: $colorText;
  font-family: $font1;
  padding-top: 20px;
  font-size: 14pt;
}
:local(.secondaryLink:hover){
  color: $colorProductLight;
}

:local(.active){
  color: $colorProductLight;
}

:local(.secondaryMenu){
  position: fixed;
  padding-top: 10px;
  margin-left: 60px;
}
