:local(.navLink) {
  font-family: futura-pt, sans-serif;
  font-style: 'normal';
  color: #5c5c5c;
  font-size: 30px;
  margin-left: 33px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 25px;
  padding-bottom: 2px; }

:local(.navLink:hover) {
  color: #2d9d9c;
  border-bottom: 8px solid #2d9d9c; }

:local(.active) {
  color: #2d9d9c;
  border-bottom: 8px solid #2d9d9c; }

:local(.bannerBranding) {
  background: url("../../style/logo-updox.png") no-repeat center center;
  background-size: contain;
  display: flex;
  height: 31px;
  width: 100px;
  margin: 30px 110px 30px 80px; }

:local(.nav) {
  height: 80px;
  width: 100%;
  background: #F4F4F4;
  margin-bottom: 40px; }
